echo "# Pacman" >> README.md
git init
git add README.md
$ touch .gitignore
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/XzadiumX/Pacman.git
git push -u origin main
